<div ng-controller="PasswordResetsController" class="row">
  <div class="boxed-header">
    <div class="large-4 span-12 columns">
      <h4 class="reset-text">Edit password</h4>
    </div>

  <div class="small-12 columns">
    <div class="row"> 
      <div class="small-12 large-12 columns panel">
        <form ng-submit="changePassword()">
          <label>Password:
            <input type="password" id="password" ng-model="data.password" />
          </label>
          <label>Password confirmation:
            <input type="password" id="password-confirmation" ng-model="data.password_confirmation" />
          </label>
          <small ng-show="errors.password" class="error">{{errors.password}}</small>
          <button class='button right'>Change password</button>
      </form>
      </div>
    </div>
  </div>

