<div class="small-12 large-12 columns show-for-touch" id="hook">
  <div class="small-11 small-centered columns">
    <div id="pulled-loader" class="small-2 columns show-for-small"></div>
    <div id="pulled-alert" class="small-10 columns">Refreshing projects...</div>
  </div>
</div>

<div id="projectspage" ng-controller="ProjectsController" class="row pullgrip" ng-class="{'hide-for-small': !noRecentProjects}">
  <div class="boxed-header">
    <div class="small-12 large-8 columns">
      <h4><a ng-href="/#/projects">Projects</a></h4>
    </div>
    <div class='small-12 large-4 columns'>
      <input type="text" id="searchfield" placeholder="Search..." ng-model='query.string' />
    </div>
  </div>

  <div class="small-12 large-12 columns">
    <div class="row" ng-repeat="project in projects | startFrom:currentPage*pageSize | limitTo:pageSize">
      <div class="box-container" ng-show="project.visible">   
        <div class="columns icon clickable right panel external-link"
            ng-click="openProject(project.source_name, project.name, project.source_identifier, $event)">
          <div ng-switch="project.source_name">
            <div class="icon" ng-switch-when="GitHub">
              <div class="source-icon github"></div>
            </div>
            <div ng-switch-when="Pivotal Tracker">
              <div class="source-icon pivotal-tracker"></div>
            </div>
          </div>
        </div>
        
        <div class="columns panel project clickable"
          ng-click="loadTasks(project)">
          <span class="project-text">
            <div class="track-control-icon start">
            </div>
            {{project.name}}
          </span>
        </div>
      </div>
    </div>
     <div id="pagination" class="small-6 small-offset-6 large-6 large-offset-6" ng-show="projects.length > pageSize">
      <div class="right">
        <button class="button small" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}} / {{numberOfPages()}}
        <button class="button small" ng-disabled="currentPage >= projects.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
      </div>
    </div>
    <div class="small-12 large-12 none-visible" ng-show="query.string && projects.none_visible">There are no projects to show.</div>
  </div>
  <div class="small-5 small-centered columns show-all-projects hide-for-medium-up" ng-class="{'hide-for-small': noRecentProjects}">
    <div class="button" ng-click="showRecents()">See only recents</div>
  </div>
</div>

<div id="recentspage" class="hide-for-medium-up" ng-class="{'hide-for-small': noRecentProjects}">
  <div id="recentscontent" class="row pullgrip" ng-controller="RecentsController">
    <div class="boxed-header recents">
      <div class="small-12 large-8 columns">
        <h4><a ng-href="/#/projects">Recent projects</a></h4>
      </div>
    </div>
    <div class="small-12 large-12 none-visible" ng-show="noRecentProjects">There are no recent projects.</div>
      <div class="row" ng-repeat="project in lastProjects">
      <div class="box-container">   
        <div class="columns icon clickable right panel external-link"
            ng-click="openProject(project.source_name, project.name, project.source_identifier, $event)">
          <div ng-switch="project.source_name">
            <div class="icon" ng-switch-when="GitHub">
              <div class="source-icon github"></div>
            </div>
            <div ng-switch-when="Pivotal Tracker">
              <div class="source-icon pivotal-tracker"></div>
            </div>
          </div>
        </div>
        
        <div class="columns panel project clickable"
          ng-click="loadTasks(project)">
          <span class="project-text">
            <div class="track-control-icon start">
            </div>
            {{project.name}}
          </span>
        </div>
      </div>
    </div>
    
    <div class="small-5 small-centered columns show-all-projects">
      <div class="button" ng-click="showAllProjects()">See all projects</div>
    </div>
   
  </div>
</div>


