<div ng-controller="SessionController" class="row unregistered">
  <div ng-show="confirmation_message" id="confirmationdiv" class="alert-box">{{confirmation_message}}</div>
  <div ng-show="!confirmation_message" class="blankdiv"></div>
  <div class="small-12 large-12 columns">
    <div class="small-12 large-8 columns">
      <img src="/assets/kt-logo-big.png" />
      <h5 class="subtitle">New time tracker from <a href="http://amberbit.com/" target="_blank">AmberBit</a>.</h5>
      <br/>
    </div>

    <div class="small-12 large-4 columns panel">
      <form ng-submit="signIn()">
        <div ng-show="message" data-alert class='alert-box alert'>{{message}}</div>
        <input id="email" type="text" placeholder="e-mail address" ng-model="$parent.session.email" autofocus='autofocus' focus="{{focus_email}}"/>
        <br/>
        <input id="password" type="password" placeholder="password" ng-model="$parent.session.password" focus="{{focus_password}}"/>
        <button class="button">Sign in!</button>
        <a href="#/register" ng-show="registrationEnabled" class="button secondary right">Register</a>
        <a href="#/password_reset" class="right">forgotten password?</a>
      </form>
    </div>
  </div>
</div>

