<div ng-controller="SessionController" class="row unregistered">
  <div ng-show="confirmation_message" id="confirmationdiv" class="alert-box">{{confirmation_message}}</div>
  <div ng-show="!confirmation_message" class="blankdiv"></div>
  <div class="small-12 large-12 columns">
    <div class="small-12 large-7 columns">
      <img src="/assets/kt-logo-big.png" />
      <h5 class="subtitle">New time tracker from <a href="http://amberbit.com/" target="_blank">AmberBit</a>.</h5>
      <br/>
    </div>

    <div class="small-12 large-5 columns panel">
      <h4>Log in</h4>
      <form ng-submit="signIn()">
        <div ng-show="message" data-alert class='alert-box alert'>{{message}}</div>
        <input id="email" type="email" placeholder="e-mail address" ng-model="$parent.session.email" autofocus='autofocus' focus="{{focus_email}}"/>
        <br/>
        <input id="password" type="password" placeholder="password" ng-model="$parent.session.password" focus="{{focus_password}}"/>
        <div class='pass-row'>
          <div class="login-widget columns small-12 large-6">
            <div class='remember-me left'>
              <input id='remember_me' type='checkbox' ng-model="session.remember_me"/>
              <label for='remember_me'>Remember me</label>
            </div>
          </div>
          <div class="login-widget columns small-12 large-6">
            <a class='right-left forgotten-password' href="#/password_reset" class="right">Forgotten password?</a>
          </div>
        </div>
        <br/>
        <div class="clearfix"></div>
        <div class="login-widget columns small-12 large-6">
          <button class="button left">Sign in!</button>
        </div>
        <div class="login-widget columns small-12 large-6">
          <a href="#/register" ng-show="registrationEnabled" class="switch-link right-left">Register</a>
        </div>
      </form>
      <br/>
      <div class="clearfix"></div>
      <div class="login-widget columns small-12 large-6">
        <a class='btn-auth btn-google' href="/auth/google">Google login</a>
      </div>
      <div class="login-widget columns small-12 large-6">
        <a class='btn-auth btn-github right-left' href="/auth/github">GitHub login</a>
      </div>
    </div>
  </div>
</div>
