<div ng-controller="TasksController" class="row">
  <div class="small-12 columns">
    <div class='search-box'>
      <label><input type="checkbox" ng-model="current" />Show only Current</label>
      <label>Search: <input ng-model='query.string' autofocus='autofocus'></label>
    </div>

    <p><a ng-href="/#/projects">Projects</a> &gt; {{project.name}}</p>
    <div class='panel'
      ng-repeat="task in tasks"
      ng-class="{running: task.running}"
      ng-click="startTracking(task)"
      ng-show="task.visible"
      >
      {{task.name}}
    </div>
  </div>
</div>

