<div ng-controller="TasksController" class="row">
  <div class="boxed-header">
    <div class="small-6 large-9 columns">
      <h4><a ng-href="/#/projects">Projects</a> <a ng-href="/#/projects/{{project.id}}/tasks">&rarr; {{project.name}}</a></h4>
    </div>
    <div class='small-6 large-3 columns tasks-search'>
      <input type="text" id="searchfield" placeholder="Search..." ng-model='query.string' />
      <label><input type="checkbox" ng-model="current" />Show only current</label>
    </div>
  </div>

  <div class="small-12 large-12 columns">
    <div class="row" ng-repeat="task in tasks">
      <div class="small-12 large-12 columns panel task clickable"
        ng-class="{callout: task.running, running: task.running}"
        ng-click="startTracking(task)"
        ng-show="task.visible">

        <div class="hide-for-small large-1 columns">
          <span class="label task-id">{{task.source_identifier}}</span>
        </div>
        <div class="small-10 large-10 columns">
          <span class="task-text">{{task.name}}</span>
        </div>

        <div class="small-2 large-1 columns icon clickable"
          ng-click="openTask(project.source_name, project.name, project.source_identifier, task.source_identifier, $event)">
          <div ng-switch="project.source_name">
            <div class="icon" ng-switch-when="GitHub">
              <div class="source-icon github"></div>
            </div>
            <div ng-switch-when="Pivotal Tracker">
              <div class="source-icon pivotal-tracker"></div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

