<div class="row page-header">
  <nav id="top-bar" class="top-bar" ng-show="signed_in">
    <ul class="title-area">
      <li class="name">
        <a href="/">
          <img src="/assets/ktlogo.png"/>
        </a>
        </li>
      <li class="toggle-topbar menu-icon"><a href="" ng-click="expandMenu()"><span></span></a></li>
    </ul> 
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li ng-click="go('/projects')"><a href="#/projects" ng-class="highlightCurrentPage('projects')" ng-click="expandMenu()">Projects</a></li>
        <li class="divider"></li>
        <li ng-click="go('/timesheet')"><a ng-class="highlightCurrentPage('timesheet')" href="#/timesheet" ng-click="expandMenu()">Timesheet</a></li>
        <li class="divider"></li>
        <li ng-click="go('/account')"><a ng-class="highlightCurrentPage('account')" href="#/account" ng-click="expandMenu()">Account</a></li>
        <li class="divider"></li>
        <li ng-click="go('/integrations')"><a ng-class="highlightCurrentPage('integrations')" href="#/integrations" ng-click="expandMenu()">Integrations</a></li>
        <li class="divider"></li>
        <li ng-click="go('/refresh')"><a ng-class="highlightCurrentPage('refresh')" href="#/refresh" class="refresh" ng-click="expandMenu()">Refresh</a></li>
        <li class="divider"></li>
        <li ng-click="go('/logout')"><a ng-class="highlightCurrentPage('logout')" href="#/logout" ng-click="expandMenu()">Log out</a></li>
      </ul>
    </section>
  </nav>
</div>

<div id='top-bar-spacer'></div>

<div id="flash" class="row" ng-controller="FlashesController">
  <div class="alert-box tracking" ng-show="runningVisible" ng-click="goToLink('projects/'+runningTask.project_id+'/tasks')" class="running-task current">
    <span>{{runningTask.name}}</span>
  </div>

  <div ng-show="message.string" ng-class="{'small-12': true, 'columns': true, 'alert-box': true, 'alert': isAlert() == 'alert', 'success': isAlert() == 'success' }">
    {{message.string}}
  </div>
</div>

<div class='view' ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}">
</div>
<div class="row">
  <div class="small-12 columns footer">
    <div class="small-9 large-10 columns footer-text">
      KarmaTracker is designed and developed by <a href="http://www.amberbit.com/" target="_blank">AmberBit</a> Sp. z o. o.. We are  Ruby and mobile applicatios development company.
    </div>
    <div class="small-3 large-2 columns">
      <a href="http://www.amberbit.com/" target="_blank"><img class="logo-amberbit" src="/assets/logo_simple.png" /></a>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.KarmaTrackerConfig = {};

  window.KarmaTrackerConfig.registration_enabled = <%= AppConfig.users.allow_register %>;
  window.KarmaTrackerConfig.registration_destroy = <%= AppConfig.users.allow_destroy %>;


</script>
