<div id="flash" class="row" ng-controller="FlashesController">
  <div ng-show="message.string" ng-class="{'small-12': true, 'columns': true, 'alert-box': true, 'alert': isAlert()}">
    {{message.string}}
  </div>
</div>


<div class="row page-header">
  <div class="small-12 columns">
    <a href="#/logout" ng-show="signed_in" class="top-btn">Log out</a>
    <a href="#/refresh" ng-show="signed_in" class="top-btn">Refresh</a>

    <h1><a href="/">KarmaTracker</a></h1>
    <p>New TimeTracker from <a href="http://amberbit.com">AmberBit</a></p>
  </div>
</div>
<div ng-view>
</div>

<script type="text/javascript">
  window.KarmaTrackerConfig = {};

  window.KarmaTrackerConfig.registration_enabled = <%= AppConfig.users.allow_register %>;

</script>
