<div id="firstTip" class="show-for-medium-up">
  <span class="joyride-nub"></span>
  <div class="joyride-content-wrapper" ng-show="firstTipVisible">
    <p>Get started adding Pivotal Tracker or GitHub identities in Profile / Integrations panel</p>
    <a href="" ng-click="go('/integrations'); hideFirstTip()") class="small button joyride-next-tip">Ok</a>
    <a href="" ng-click="hideFirstTip()" class="joyride-close-tip">&times;</a>
  </div>
</div>


<div class="row page-header">
  <nav id="top-bar" class="top-bar" ng-show="signed_in">
    <ul class="title-area">
      <li class="name" ng-click="go('/')">
        <a href="/">
          <img src="/assets/ktlogo.png"/>
        </a>
        </li>
      <li class="toggle-topbar menu-icon"><a href="" ng-click="expandMenu()"><span></span></a></li>
    </ul> 
    <section id="top-bar-section" class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li ng-click="go('/projects')"><a href="#/projects" ng-class="highlightCurrentPage('projects')" ng-click="expandMenu()">Projects</a></li>
        <li class="divider"></li>
        <li ng-click="go('/timesheet')"><a ng-class="highlightCurrentPage('timesheet')" href="#/timesheet" ng-click="expandMenu()">Timesheet</a></li>
        <li class="divider"></li>
        <li id="profile" ng-click="moveMenu()" class="has-dropdown"><a href="">Profile</a>
          <ul class="dropdown">
            <li id="back-button" class="toggle-topbar"><a href=""><< Back</a></li>
            <li class="divider toogle-topbar"></li>
            <li ng-click="go('/account')"><a ng-class="highlightCurrentPage('account')" href="#/account" ng-click="expandMenu()">Account</a></li>
            <li class="divider"></li>
            <li ng-click="go('/integrations')"><a id="integrations" ng-class="highlightCurrentPage('integrations')" href="#/integrations" ng-click="expandMenu()">Integrations</a></li>
            <li class="divider"></li>
            <li ng-click="go('/refresh')"><a ng-class="highlightCurrentPage('refresh')" href="#/refresh" class="refresh" ng-click="expandMenu()">Refresh</a></li>
                      </ul>
        <li class="divider"></li>
        <li ng-click="go('/logout')"><a ng-class="highlightCurrentPage('logout')" href="#/logout" ng-click="expandMenu()">Log out</a></li>
      </ul>
    </section>
  </nav>
</div>

<div id='top-bar-spacer'></div>

<div id="flash" class="row" ng-class="{'signin-width': !signed_in}" ng-controller="FlashesController">
  <div class="show-for-small">
    <div class="alert-box tracking" ng-show="runningVisible" ng-click="goToLink('projects/'+runningTask.project_id+'/tasks')" class="running-task current">
      <span>{{runningTask.name}}</span>
    </div>
  </div>

  <div ng-show="message.string" ng-class="{'small-12': true, 'columns': true, 'alert-box': true, 'alert': isAlert() == 'alert', 'success': isAlert() == 'success' }">
    {{message.string}}
  </div>
</div>

<div class="row boxed" ng-class="{'signin-width': !signed_in}">
  <div class='view small-12 columns' ng-class="{'large-12': !signed_in, 'large-8': signed_in}" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}">
  </div>
  <div ng-show="signed_in">
  <div class="hide-for-small large-4 columns" ng-controller="RecentsController">
    <div class="small-12 large-12 columns">
      <h4><a ng-href="/#/projects">Recents</a></h4>
    </div>

    <div class="large-12 columns panel recents">
      <h4 class="subheader">Tasks</h4>
      <div class="large-12 columns">
        <div class="row" ng-repeat="task in lastTasks">
          <div class="small-12 large-12 columns panel project clickable"
            ng-class="{callout: task.running, running: task.running}"
            ng-click="startTracking(task)">
            <div class="small-12 large-12 columns" ng-class="{tinytracking: task.running}">
              <span class="tiny-task">{{task.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-12 columns panel recents">
      <h4 class="subheader">Projects</h4>
      <div class="large-12 columns">
        <ul>
          <li ng-repeat="project in lastProjects">
            <a href="" ng-click="go('/projects/'+project.id+'/tasks')">{{project.name}}</a>
          </li>
        </ul>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>


<div class="row" ng-class="{'signin-width': !signed_in}">
  <div class="small-12 columns footer">
    <div class="small-9 large-10 columns footer-text">
      KarmaTracker is designed and developed by <a href="http://www.amberbit.com/" target="_blank">AmberBit</a> Sp. z o. o.. We are  Ruby and mobile applications development company.
    </div>
    <div class="small-3 large-2 columns">
      <a href="http://www.amberbit.com/" target="_blank"><img class="logo-amberbit" src="/assets/logo_simple.png" /></a>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.KarmaTrackerConfig = {};

  window.KarmaTrackerConfig.registration_enabled = <%= AppConfig.users.allow_register %>;
  window.KarmaTrackerConfig.registration_destroy = <%= AppConfig.users.allow_destroy %>;

</script>




