<div id="firstTip" class="show-for-medium-up">
  <span class="joyride-nub"></span>
  <div class="joyride-content-wrapper" ng-show="firstTipVisible">
    <p>Get started adding Pivotal Tracker or GitHub Identities in Profile / Identities panel</p>
    <a href="" ng-click="go('/identities'); hideFirstTip()") class="small button joyride-next-tip">Ok</a>
    <a href="" ng-click="hideFirstTip()" class="joyride-close-tip">&times;</a>
  </div>
</div>


<div class="row page-header">
  <nav id="top-bar" class="top-bar" ng-show="signed_in">
    <ul class="title-area">
      <li class="name">
        <a href="/">
          <img  ng-click="go('/')" src="/assets/ktlogo.png"/>
        </a>
        </li>
      <li id="toggle-menu"  ng-click="expandMenu()" class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
    </ul> 
    <section id="top-bar-section" class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li ng-click="go('/projects')"><a href="#/projects" ng-class="highlightCurrentPage('projects')" ng-click="expandMenu()">Projects</a></li>
        <li class="divider"></li>
        <li ng-click="go('/timesheet')"><a ng-class="highlightCurrentPage('timesheet')" href="#/timesheet" ng-click="expandMenu()">Timesheet</a></li>
        <li class="divider"></li>
        <li id="profile" ng-click="moveMenu()" class="has-dropdown"><a href=""><img id="gravatar" ng-src="{{gravatar_url}}?s=35&d=mm" /> {{username}}</a>
          <ul class="dropdown">
            <li id="back-button" class="toggle-topbar"><a href=""><< Back</a></li>
            <li class="divider toogle-topbar"></li>
            <li ng-click="go('/account')"><a class="secondary-menu" ng-class="highlightCurrentPage('account')" href="#/account" ng-click="expandMenu()">Account</a></li>
            <li class="divider"></li>
            <li ng-click="go('/identities')"><a class="secondary-menu" id="identities" ng-class="highlightCurrentPage('identities')" href="#/identities" ng-click="expandMenu()">Identities</a></li>
                      </ul>
        <li class="divider"></li>
        <li ng-click="go('/logout')"><a ng-class="highlightCurrentPage('logout')" href="#/logout" ng-click="expandMenu()">Log out</a></li>
      </ul>
    </section>
  </nav>
</div>

<div id='top-bar-spacer'></div>


<div id="flash" class="row" ng-class="{'signin-width': !signed_in}" ng-controller="FlashesController">
  <div class="show-for-small">
    <div class="alert-box tracking" ng-show="runningVisible" ng-click="goToLink('projects/'+runningTask.project_id+'/tasks')">
      <span class="right counter">{{runningTime}}</span> <span>{{runningTask.name}}</span>
    </div>
  </div>
  <div ng-show="refreshing" ng-class="{'refreshing-top': runningVisible}">
    <div class="alert-box refreshing">
      <span>The list of {{refreshing}} is being updated.</span>
    </div>
  </div>
  <div ng-show="message.string" ng-class="{'small-12': true, 'columns': true, 'alert-box': true, 'alert': isAlert() == 'alert', 'success': isAlert() == 'success' }">
    {{message.string}}
  </div>
</div>


<div class="loading" ng-show="loading">
  <div class="spinning-wheel"></div>
  <div>Loading...</div>
</div>

<div class="row boxed" ng-class="{'signin-width': !signed_in}">
  <div id="view-container" class="small-12 columns" ng-class="{'large-12': !signed_in, 'large-8': signed_in}" >
    <div class="small-12 large-12 columns show-for-touch" pull-to-refresh></div>
    <div class='view small-12 columns'
        ng-view 
        ng-animate="{enter: 'view-enter', leave: 'view-leave'}">
    </div>
  </div>
  
  <div ng-show="signed_in">
  <div class="hide-for-small large-4 columns" ng-controller="RecentsController">
    <div class="small-12 large-12 columns">
      <h4><a ng-href="">Recents</a></h4>
    </div>

    <div class="large-12 columns panel recents recent-tasks sidepanel">
      <h4 class="subheader">Tasks</h4>
      <div class="large-12 columns">
        <div ng-show="noTasks">There are no recent tasks.</div>
        <div class="row" ng-repeat="task in lastTasks">
          <div class="small-12 large-12 columns panel recent-task clickable"
            id="recent-time-log-entry-{{task.id}}"
            ng-class="{callout: task.id == runningTask.id, running: task.id == runningTask.id }"
            ng-click="startTracking(task)">
            <div class="small-12 large-12 columns">
              <span class="right counter" ng-show="task.running">{{runningTime}}</span><span class="tiny-task">{{task.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="large-12 columns panel recents recent-projects sidepanel">
      <h4 class="subheader">Projects</h4>
      <div class="large-12 columns">
        <div ng-show="noRecentProjects">There are no recent projects.</div>

          <div class="row" ng-repeat="project in lastProjects">
            <div ng-click="go('/projects/'+project.id+'/tasks')" class="large-12 colums panel recent-task clickable">
              <div class="small-12 large-12 columns">
                <span class="tiny-task">{{project.name}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div ng-show="webhookProjectURL">
        <div class="small-12 large-12 columns">
          <h4><a ng-href="">WebHook Integration</a></h4>
        </div>
        <div id="webhook-panel" class="large-12 columns panel sidepanel">
          <p>The activity web hook allows your application to listen for activity in your project, as HTTP POST requests.</p>

          <div>
            <div class="arrow_box panel mainshadow" ng-show="webhook_tip">
              <strong>Information</strong><br/><br/>
              To use it with this project please copy this URL, go to Pivotal Tracker and paste it into Project - Edit Settings - Integrations - Web Hook URL.
            </div>
            <div class="info" ng-click="webhook_tip = !webhook_tip" ng-mouseover="webhook_tip = true" ng-mouseleave="webhook_tip = false"></div>
          </div><input id="webhook_url" type="text" value="{{webhookProjectURL}}" readonly="readonly" autocomplete="off" />
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<div class="row" ng-class="{'signin-width': !signed_in}">
  <div class="small-12 columns footer">
    <div class="small-9 large-10 columns footer-text">
      KarmaTracker is designed and developed by <a href="http://www.amberbit.com/" target="_blank">AmberBit</a> Sp. z o. o.. We are  Ruby and mobile applications development company.
    </div>
    <div class="small-3 large-2 columns">
      <a href="http://www.amberbit.com/" target="_blank">
      <img class="logo-amberbit" src="/assets/logo_simple.png" /></a>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.KarmaTrackerConfig = {};

  window.KarmaTrackerConfig.registration_enabled = <%= AppConfig.users.allow_register %>;
  window.KarmaTrackerConfig.registration_destroy = <%= AppConfig.users.allow_destroy %>;
  window.KarmaTrackerConfig.items_per_page = <%= AppConfig.items_per_page %>;
</script>




