<div class="row page-header">
  <div class="small-12 columns">
    <a href="#/logout" ng-show="signed_in" class="top-btn">Log out</a>
    <h1>KarmaTracker</h1>
    <p>New TimeTracker from <a href="http://amberbit.com">AmberBit</a></p>
  </div>
</div>
<div ng-view>
</div>
