/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

@import "foundation/foundation-global", "foundation/components/global", "foundation/components/buttons";

.page-header {
  h1 {
    margin-bottom: 0;
  }
  .name {
    background-color: #111;
  }
}

.table {
  text-align: left;
}

.table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tracking {
  background-image: url(image_path('tracking.gif'));
  background-position: 1em center;
  background-repeat: no-repeat;
  margin-top: -12px;
  cursor: pointer;
  span {
    margin-left: 2em;
    display: block;
  }
}

.alert-box.refreshing {
  background-color: #c86209;
  background-image: url(image_path('ajax-loader-small.gif'));
  background-position: 1em center;
  background-repeat: no-repeat;
  margin-top: -13px;
  span {
    margin-left: 2em;
    display: block;
  }
}

.refreshing-top {
  margin-top: 13px;
}

@media #{$small} {
  .refreshing-top {
    margin-top: 0px;
  }
}

.tinytracking {
  background-image: url(image_path('tracking.gif'));
  background-position: right;
  background-repeat: no-repeat;
  margin-top: -12px;
  cursor: pointer;
  span {
    display: block;
  }
}

.track-bar {
  &.stop {
    margin-top: 0.3em;
    margin-right: 1em;
    background-color: red;
    border-color: darkred;
  }
  &.project{
    margin-top: 0.3em;
  }
  &.title{
    font-weight: bold;
    &.small{
      font-size: 0.8em;
    }
  }
  &.content{
    margin-right: 100px;
  }

}

.track-bar.stop:hover{
  background-color: darkred;
}

.top-bar-section li a:hover{
  background-color: #000;
}
.top-bar-section li a.secondary-menu {
  padding: 20px 20px !important;
}
.logo{
  background-image: url(image_path('ktlogo.png'));
  background-repeat: no-repeat;
  height: emCalc(60px);
  width: emCalc(233px);
  border: none;
}

.loading{
  margin-bottom: 0.9em;
}

h5.subtitle{
  margin-top: -0.4em;
}
.blankdiv{
  height: 6em;
}

#confirmationdiv{
  margin-bottom: 4.5em;
}


.mainshadow{
  box-shadow: 0 10px 20px -5px #000;
}

.source-icon{
  background-repeat: no-repeat;
  transition: background 0.4s;
  height: 2em;
  background-size: 100%;
  background-position: center;
  width: 2em;


  &.github{
    background-image: url(image_path('blackgh.png'));
  }
  &.github:hover{
    background-image: url(image_path('orangegh.png'));
  }
  &.pivotal-tracker{
    background-image: url(image_path('blackpt.png'));
  }
  &.pivotal-tracker:hover{
    background-image: url(image_path('orangept.png'));
  }
}

.running .source-icon{
  &.github:hover{
    background-image: url(image_path('blackgh.png')) !important;
  }
  &.pivotal-tracker:hover{
    background-image: url(image_path('blackpt.png')) !important;
  }
}

.touch .source-icon {
  margin-right: 0px;
  position: relative;
  right: 5px;
}

.touch .callout .source-icon {
  margin-right: 0px;
  position: relative;
  right: 10px;
}

.callout .source-icon {
  margin-right: -10px;
  &.github:hover{
    background-image: url(image_path('blackgh.png'));
  }
  &.pivotal-tracker:hover{
    background-image: url(image_path('blackpt.png'));
  }
}

span.project-text {
  display: block;
  word-wrap: break-word;
  padding: 5px 0 5px;
}

.touch .task-route {
  margin-top: 16px;
}

span.task-text {
  margin-left: 10px;
  width: 70%;
  float: left;
  word-wrap: break-word;
  padding: 5px 0 5px;

}

.label.task-id {
padding-right: 2px;
padding-left: 2px;
margin-top: 0.5em;

}

.tasks-search {
  label {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }
}

#searchfield {
  border-radius: 2em;
}

.right-align{
  float: right;
  margin-right: 2em;
}

.modal-message {
 .confirm-button {
   @extend .large;
   @extend .button;
   @extend .expand;
 }
}

.top-btn-bar{
  float: right;
  margin-top: 0.5em;
  @extend .button;
  @extend .small;
}

.top-btn {
  float: right;
  margin-top: 0.5em;
  margin-left: 1em;
  @extend .button;
  @extend .small;
}

.glow {
    box-shadow: 0 0 30px 0 #f4cf20;
}

.panel {
  color: #000;
}


.track-control-icon {
  height: 27px;
  width: 27px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 10px;
  margin-bottom: 2px;
  &.start {
    background-image: url(image_path('start-tracking.png'));
    background-position: center;
    background-repeat: no-repeat;
  }
  &.stop {
    background-image: url(image_path('stop-tracking.png'));
    background-position: center;
    background-repeat: no-repeat;
  }
}

.touch .track-control-icon {
  margin-left: -16px;
}

.panel.project.icon {
  height: 4em;
  border-left-style: none;
}

.panel.project {
  background: rgb(240,249,255);
  box-shadow: 0 -100px 100px -120px rgb(150, 150, 150) inset !important;
  margin-right: -4em !important;
  margin-bottom: 0 !important;
}

.panel.task {
  background: rgb(240,249,255);
  box-shadow: 0 -100px 100px -120px rgb(150, 150, 150) inset !important;
  margin-right: -4em !important;
  margin-bottom: 0 !important;
}


.panel.recent-task {
  background: rgb(240,249,255);
  box-shadow: 0 -100px 50px -100px rgb(150, 150, 150) inset !important;
  overflow: hidden;
}

.box-container {
  overflow: hidden;
  border-bottom: solid 1px black;
}

.external-link {

  background: #f0f9ff !important;
  width: 4em !important;
  z-index: 98 !important;
  box-shadow: 0 100px 100px -120px #969696 inset !important;
  padding-bottom:100% !important; 
  margin-bottom:-100% !important;
  border-left: solid 1px #969696 !important;
}
.external-link.running {
  background: transparent !important;
  border: solid 1px #f47a10;
  box-shadow: none !important;
  border-left: solid 1px #c86209 !important;
  border-top: solid 1px #c86209 !important;
}

.project-task-box {
  overflow: hidden;
}

.panel.callout.running {
  box-shadow: 0 -100px 50px -100px #f4cf20 inset !important;
  color: white; 
  padding-left: 15px;
  .label {
    background-color: transparent;
  }
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 2em rgba(0,0,0,0.9);
  ul { background-color: transparent; }

  .current {
    background: #F47a10 !important;
    box-shadow: 0 -100px 50px -100px #f4cf20 inset !important;
  }

}


#top-bar-spacer {
  height: 50px;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

#flash {
  margin-top: 0;
  padding-bottom: 1em;
  background-color: #222;
  border: 1px #222 solid;
  border-bottom-width: 0;
  .alert-box {
    z-index: 2;
    top: 1.5em;
  }
}

.signin-form {
  transition: height 0.4s;
}

.secondary-btn{
  float: right;
  @extend .button;
  @extend .secondary;
}

.boxed {
  border: 1px #222 solid;
  border-top-width: 0;
  border-bottom: 0;
  padding-top: 0.2em;
  background-color: #222;

  box-shadow: 0 20px 20px rgba(0,0,0,0.5);

  .none-visible {
    margin-bottom: 1em;
  }

  #timesheet-form {
    input[type='text'] {
      display: inline;
    }
    select{
      height: 2.2em;
    }
    button{
      margin-top: 1.8em;
    }
  }
  .table {
    background-color: #eee;
  }
}
.row.unregistered {
  background-color: white;
  padding-bottom: 7em;
  box-shadow: 0 0 30px #000;
  .panel {
    background-color: white;
  }
}

.view-enter, .view-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.view-enter {
  opacity:0;
//  left:100px;
//  width:100%;
//  position:absolute;
}
.view-enter.view-enter-active {
//  left:0;
  opacity:1;
}

.view-leave {
//  position:absolute;
//  left:0;
//  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
//  left: 1000px;
  opacity:0;
}

.footer{
  @extend .boxed;
  min-height: 6em;
  padding-bottom: 1em;
  font-size: 0.8em;
}
.logo-amberbit{
  margin-top: 1.2em;
  }

.footer-text{
  margin-top: 1.5em;
  text-align: center;
  }


#firstTip{
  position: absolute;
  display: block;
  visibility: visible;
  right: 10px;
  top: 70px;
  width: 300px;
  background: black;
  opacity: 0.952;
  color: white;
  z-index: 101;
  font-family: inherit;
  font-weight: normal;
  transition: visibility, 1s;
}

#back-button{
    position: relative;
  }

#back-button a {
      padding: 9.6px 20px;
      line-height: 2.9em;
}

.recents{
  font-size: 0.8em;
   }

.recents ul{
  list-style-type: none;
  font-size: 1.2em;
  font-weight: bold;
}

.tiny-task{
  padding: 0.12em;
}

.signin-width{
  width: 62em !important;
}

.password-reset {
  background-color: white;
}
.reset-text {
  color: white;
}

.remember-me {
  margin-bottom: 5px;
}
.remember-me > *{
  display: inline-block;
}

#hook {
  height: 200px;
  position: absolute;
  margin-top: -30px;

  transition: margin-top, 0.5s;

  top: -170px;
  left: 1px;
  //box-shadow: 0 146px 107px -125px #f47a10 inset !important;
  background-color: #444;
  
}

#pulled-alert {
  position: relative;
  top: 125px;
  z-index: 0;
}

#pulled-loader {
  position: relative;
  right: 0;
  top: 110px;
  background-image: url(image_path('ajax-loader.gif'));
  background-position: right center;
  background-repeat: no-repeat;
  height: 2em;
  max-width: 2em;
  min-width: 0.5em;
  z-index: auto;
}

.touch .pullgrip {
  background-image: url("/assets/pulltorefresh.png");
  background-position: center top;
  background-repeat: no-repeat;
}

#view-container {
  padding: 0;
}

.forgotten-password {
  font-size: 0.875em;
  height: 21px;
  line-height: 21px;
  margin-bottom: 5px;
}
.clearfix {
  @include clearfix();
}

.boxed-header.recents {
  height: 85px;
  padding-top: 25px;
  font-size: 1.125em;
}
.show-all-projects {

  text-align: center;

}

.show-all-projects .button {
    margin-top: 10px;
}


.spinning-wheel {
  background-image: url(image_path('ajax-loader.gif'));
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  
}

.loading {
  position: absolute;
  top: 200px;
  left: 50%;
  z-index:99;
  width:200px;
  margin-left: -100px;
  height:150px;
  background-color:#111;
  opacity:0.8;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;

  text-align: center;
  padding-top: 57px;
}


.loading > * {
  display: inline-block;
  vertical-align: middle;
}

#pagination {
  margin-top: 12px;
}

#webhook_url{
  display: inline-block;
  padding-left: 32px;
  background-color: #fff !important;
}

#webhook-panel{
  font-size: 0.9em;
}

.arrow_box {
  position: absolute;
  border: 1px solid #999;
  height: 138px;
  width: 200px;
  bottom: -44px;
  left: -216px;
  z-index: 99;
  background-color: #fff !important;
  border-radius: 10px 0 10px 0;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(34, 34, 34, 0);
  border-left-color: #fff;
  border-width: 10px;
  top: 50%;
  margin-top: -11px;
}
.arrow_box:before {
  border-color: rgba(153, 153, 153, 0);
  border-left-color: #999;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

.info {
    color:#2385BA;
    position: relative;
    top: 14px;
    left: 6px;
    cursor: pointer;
}

.info:before {
    content:"i";
    position: absolute;
    left:3px;
    width:16px;
    height:16px;
    margin-top:-8px;
    font-size:14px;
    font-weight:bold;
    line-height:18px;
    text-align:center;
    color:#fff;
    background:#2385BA;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
}