/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

@import "foundation/foundation-global", "foundation/components/global", "foundation/components/buttons";

.page-header {
  h1 {
    margin-bottom: 0;
  }

}

.table {
  text-align: left;
}

.table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tinyicon {
  margin-top: -0.5em;
  margin-left: 0.5em;
  height: 1.2em;
  width: 1.2em;
  background-repeat: no-repeat;
  &.edit{
    background-image: url(image_path('page_white_edit.png'));
  }
  &.save{
    background-image: url(image_path('disk.png'));
  }
  &.close{
    background-image: url(image_path('cross.png'));
  }
  &.delete{
    background-image: url(image_path('bin.png'));
  }

}

.top-bar-section li a:hover{
  background-color: #000;
}
.current {
  background: #F47a10 !important;
  box-shadow: 0 -100px 50px -100px #f4cf20 inset !important;
  
}

.logo{
  background-image: url(image_path('ktlogo.png'));
  background-repeat: no-repeat;
  height: emCalc(60px);
  width: emCalc(233px);
  border: none;
}

.loading{
  margin-bottom: 0.9em;
}

h5.subtitle{
  margin-top: -0.4em;
}
.blankdiv{
  height: 6em;
}

.mainshadow{
  box-shadow: 0 10px 20px -5px #CCC
}

.source-icon{
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.4s;
  height: 2em;
  background-size: 100%;
  background-position: center;
  max-width: 2em;
  min-width: 0.5em;
  margin: auto;
  &.github{
    background-image: url(image_path('blackgh.png'));
  }
  &.github:hover{
    background-image: url(image_path('orangegh.png'));
  }
  &.pivotal-tracker{
    background-image: url(image_path('blackpt.png'));
  }
  &.pivotal-tracker:hover{
    background-image: url(image_path('orangept.png'));
  }
}

.right-align{
  float: right;
  margin-right: 2em;
}

.modal-message {
 .confirm-button {
   @extend .large;
   @extend .button;
   @extend .expand;
 }
}

.top-btn-bar{
  float: right;
  margin-top: 0.5em;
  @extend .button;
  @extend .small;
}

.top-btn {
  float: right;
  margin-top: 0.5em;
  margin-left: 1em;
  @extend .button;
  @extend .small;
}


.panel.running {
  font-weight: bold;
  color: #FFF;

}

.glow{
    box-shadow: 0 0 30px 0 #f4cf20;
}

.panel.project {
  min-height: 4em;
}

.panel.project.icon {
  height: 4em;
  border-left-style: none;
  padding-top: 0.8em;
  }

.panel{
  font-color: #000;
}

.top-bar{
  height:200px;
}

.clickable {
  cursor: pointer;
}


#flash {
  .alert-box {
    position: absolute;
    margin-left: -50% !important;
    z-index: 2;
    top: 1.5em;
  }
  position: absolute;
  height: 0px;
  padding-left: 50%;
}

.signin-form {
  transition: height 0.4s;
}

.secondary-btn{
  float: right;
  @extend .button;
  @extend .secondary;
}

