/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

@import "foundation/foundation-global", "foundation/components/global", "foundation/components/buttons";

.page-header {
  h1 {
    margin-bottom: 0;
  }

}

.table {
  text-align: left;
}


.github{
  margin-top: -0.5em;
  margin-left: 0.5em;
  height: 2em;
  width: 2em;
  background-image: url(image_path('blacktocat-32.png'));
  background-repeat: no-repeat;
  transition: background-image 0.4s;
}

.github:hover{
  background-image: url(image_path('bluecktocat-32.png'));
  background-repeat:no-repeat;
}

.pivotal-tracker{
  margin-top: -0.5em;
  margin-left: 0.5em;
  height: 2em;
  width: 2em;
  background-image: url(image_path('blackpivotal-32.png'));
  background-repeat:no-repeat;
  transition: background-image 0.4s;
}

.pivotal-tracker:hover{
  background-image: url(image_path('bluepivotal-32.png'));
  background-repeat:no-repeat;
}


.right-align{
  float: right;
  margin-right: 0.125em;
}
.secondary-btn{
  float: right;
  @extend .button;
  @extend .secondary;
}
.modal-message {
 .confirm-button {
   @extend .large;
   @extend .button;
   @extend .expand;
 }
}

.top-btn-bar{
  float: right;
  margin-top: 0.5em;
  @extend .button;
  @extend .small;
}

.top-btn {
  float: right;
  margin-top: 0.5em;
  margin-left: 1em;
  @extend .button;
  @extend .small;
}


.panel.running {
  font-weight: bold;
}

.panel.project {
  height: 4em;
}

.panel.project.icon {
    border-left-style: none;
  }


.clickable {
  cursor: pointer;
}

.search-box {
  float: right;
  margin-top: -3em;
  text-align: right;
  label {
    display: inline;
    margin-left: 20px;
  }
}

#flash {
  .alert-box {
    position: absolute;
    margin-left: -50% !important;
    z-index: 2;
    top: 1.5em;
  }
  position: absolute;
  height: 0px;
  padding-left: 50%;
}

