<div ng-controller="AccountController" class="row ">
  <div class="boxed-header">
    <div class="large-2 span-12 columns">
      <h4><a ng-href="/#/account">Account</a></h4>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="row"> 
      <div class="small-12 large-12 columns panel">
        <h4 class="subheader">User details</h4>
        <div class="small-12 large-5 columns panel secondary">
        <div class="left">
          <a ng-href="http://gravatar.com/profile/{{gravatar_url.split('/')[4]}}" target="_blank"><img ng-src="{{gravatar_url}}?s=42&d=mm" title="Gravatar image" /></a>
        </div>
        <div class="small-10 large-10 columns">
          <label>E-mail:
            <input type="email" id="email" name="email" placeholder="{{user.email}}" ng-model="user.email" />
            <small ng-show="errors.email" class="error">{{errors.email}}</small>
          </label>
        </div>
          <button ng-click="updateUser(user)" class="button right small">Save changes</button>
        </div>
        <div class="small-12 large-6 large-offset-1 columns panel secondary">
          <label>Set new password:
            <input type="password" ng-model="newPassword" />
            <small ng-show="errors.password" class="error">{{errors.password}}</small>
          </label>
          <label>Confirm new password:
            <input type="password" ng-model="confirmation" />
            <small ng-show="errors.confirmation" class="error">{{errors.confirmation}}</small>
          </label>
          <button ng-click="changePassword()" class="button right small">Save changes</button>
        </div>
        <div ng-show="enabledDestroy">
          <h4 class="subheader">Remove account</h4>
          <div class="small-12 panel columns">
            <button ng-click="remove()" class="button right-align small">Remove</button>
            Remove your KarmaTracker account
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
