<div ng-controller="RegisterController" class="row unregistered">
  <div ng-show="confirmation_message" id="confirmationdiv" class="alert-box">{{confirmation_message}}</div>
  <div ng-show="!confirmation_message" class="blankdiv"></div>
  <div class="small-12 large-12 columns">
    <div class="small-12 large-7 columns">
      <img src="/assets/kt-logo-big.png" />
      <h5 class="subtitle">New time tracker from <a href="http://amberbit.com/" target="_blank">AmberBit</a>.</h5>
      <br/>
    </div>
    <div class="signin-form small-12 large-5 columns panel">
      <h4>Register</h4>
      <form ng-submit="register()">
        <div ng-show="test" data-alert class='alert-box alert'>{{message}}</div>
        <input id="email" type="email" placeholder="e-mail address"ng-model="registration.email" autofocus='autofocus' focus="{{focus_email}}"/>
        <small ng-show="errors.email" class="error">{{errors.email}}</small>
        <br/>
        <input id="password" type="password" placeholder="password" ng-model="registration.password" focus="{{focus_password}}"/>
        <small ng-show="errors.password" class="error">{{errors.password}}</small>
        <input id="password_confirmation" type="password" placeholder="password confirmation" ng-model="registration.confirmation" focus="{{focus_confirmation}}"/>
        <small ng-show="errors.confirmation" class="error">{{errors.confirmation}}</small>
        <div class="login-widget columns small-12 large-6">
          <button class="button">Register</button>
        </div>
        <div class="login-widget columns small-12 large-6">
          <a href="#/login" class="switch-link right-left">Log in</a>
        </div>

      </form>
  </div>
</div>

